// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

/* Syllia (v2, since I accidentally deleted the first one - Olsson) by Netcentric.Web */
/* Variable declarations */
$green: #27ae60;
$green_lighter: #3ac575;
$green_darker: #219352;

$grey: #575e65;
$grey_lighter: #ededed;
$grey_lightest: #f5f5f5;
$grey_highlight: #bbbbbb;

$light: 300;
$normal: 400;
$bold: 500;

$error_red: #ff8989;
$error_border: #ff0000;
$error_text: #ff0000;
$error_bg: #ffd7d0;

	
$breakpoint: 768px;

/* footer by http://ryanfait.com */
* {
	margin: 0;
}
html, body {
	height: 100%;
}


input {
	padding-left: 10px;
}


.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}

.footer {
	border-top: 1px solid $grey_lighter;
	padding-top: 30px;
		a {
			font-size: 15px;
			color: $green;
			text-transform: uppercase;
			margin-right: 10px;

		}

		p {
			font-size:  13px;
			color: $grey_highlight;
		}
}



/* generic elements */
	body,html {
		font-family: 'PT Sans', sans-serif;
		color: $grey;
	}

	h4,h3,h2,h1 {
		font-weight: normal;
		color: $grey;
	}

	.center {
		text-align: center;
	}

	/* 	to be inserted in an <a> tag 
		padding / size to be declared in id */
	.clear-button {
		border: 1px solid $grey_lighter;
		color: $green !important;
	}

	.green-button {
		background-color: $green;
		color: #fff !important;
	}

	.grey-button {
		background-color: $grey_lighter;
		color: #fff;
	}

	.grey-button2 {
		background-color: $grey_lighter;
		color: $grey_highlight;
	}

	.grey-button2:hover {
		color: $grey_highlight;
	}

	.underline {
		border-bottom: 1px solid $grey_lighter;
	}

	.divider {
		margin-top: 45px !important;
		border-top: 1px solid $grey_lighter;
		margin-bottom: -10px !important;
	}

	.adjust-spacing {
		margin-left: -30px !important;
	}

	.top-spacing {
		margin-top: 40px !important;
	}

	.top-spacing-more {
		margin-top: 80px !important;
	}

	.bottom-spacing-small {
		margin-bottom: 10px !important;
	}

	.right-spacing {
		margin-right: 10px;
	}

	.invisible {
		visibility: hidden;
	}

/* actual declarations (finally) */

.h-nav {
	float: right;
	list-style: none;
	margin-top: 40px;
	margin-right: -15px;

	li {
		float: left;
		font-size: 1em;
		font-weight: $normal;
		text-transform: uppercase;
		margin-right: 15px;
	}

	a {
		color: $grey;
	}
}

#h-login-button {
	padding: 8px;
	padding-left: 30px;
	padding-right: 30px;

}

.logo_big {
	margin-top: 85px;	
}

.logo_sub {
	color: $grey;
	font-weight: $normal;
	line-height: 150%;
	margin-top: 10px;
	
}

#h-reg-button {
	display: inline-block;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 12px;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;

}

.h-reg-notice {
	color: $grey_highlight;
	display: block;
	font-size: 15px;

}

.features {
	margin-top: 30px;
	text-align: center;

}

.h-login-pane:before, .account-pane:before {
	content: '';
	position: absolute;
	width: 104px;
	height: 1px;
	background-color: #fff;
	top: -1px;
	right: 0px;
}

.account-pane:before {
	width: 107px !important;
}

.h-login-wrapper, .account-wrapper {
	position: relative;
}

.h-login-pane, .account-pane {
	display: none;
	width: 270px;
	padding: 25px;
	background-color: #fff;
	position: absolute;
	z-index: 2;
	right: 0px;
	top: 29px;
	border: 1px solid $grey_lighter;
	text-transform: none;
	span {
		color: $grey;
		font-weight: $bold;
		font-size: 14px;
	}

	input {
		box-shadow: none;
		border: 1px solid $grey_lighter;
		padding: 10px;
		height: 40px;
	}

	input:hover, input:focus {
		box-shadow: none !important;
		border: 1px solid $grey_lighter;
	}
	a {
		color: $grey_highlight;
		text-align: center;
		display: block;
		font-size: 13px;
		margin-top: 7px;
		margin-bottom: -23px;
		text-transform: uppercase;
	}
}

#h-login-submit {
	width: 110px;
	margin-left: 53px;
	text-align: center;
}

#account-button {
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;

}

.account-pane {
	font-size: 13px;
	color: $grey_highlight;
	strong {
		font-size: 14px;
		color: $grey;
		display: block;
	}
}

.account-option {
	color: $green !important;
	text-transform: none !important;
	text-align: left !important;
	display: block;
	margin-bottom: 1px !important;

}

#sign-out {
	margin-top: -45px;
	float: right;
	font-size: 15px;
	padding: 8px;
	padding-left: 17px;
	padding-right: 17px;
}

.logo-small {
	width: 170px;
	margin-top: 30px;
}

.breadcrumb {
	font-size: 13px;
	margin-top: 60px;
	text-transform: uppercase;
	list-style: none;
	a {
		color: $green;
	}

	li:after {
		content: '>';
		margin-left: 15px;
		margin-right: 15px;
	}

	li:last-child:after {
		display: none;
	}

	li {
		float: left;
	}

	li:last-child {
		a {
			color: $grey;
		}

		.active-tab {
			color: $grey_highlight;
		}

		.active-tab:before{
			content: '(';
			margin-right: 5px;
		}

		.active-tab:after  {
			content: ')';
			margin-left: 5px;
		}
	}
}

.navigation:before {
	content: '';
	position: absolute;
	height: 80px;
	width: 1px;
	background-color: $grey_lighter;
	left: -1px;
	top: 37px;
}

.navigation:after {
	content: '';
	position: absolute;
	height: 80px;
	width: 1px;
	background-color: $grey_lighter;
	right: 1px;
	top: 37px;
}

.navigation {
	height: 38px;
	list-style: none;
	margin-top: 25px;
	border-top: 1px solid $grey_lighter;
	border-left: 1px solid $grey_lighter;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;

	li {
		float: left;
		text-align: center;
		line-height: 38px;
		border-right: 1px solid #fff;
		background-color: $grey_lighter;
	}

	li:last-child {
		border-right: 1px solid $grey_lighter;
	}

	li:hover {
		cursor: pointer;
		background-color: #f5f5f5;
	}

	.tab-active {
		background-color: #fff;
		color: $green;
	}
	.tab-active:hover {
		background-color: #fff;
		color: $green;
	}

	#tab1 {
		width: 12.5%;
	}
	#tab2 {
		width: 17%;
	}
	#tab3 {
		width: 14%;
	}
	#tab4 {
		width: 9%;
	}
	#tab5 {
		width: 14%;
	}
	#tab6 {
		width: 12.5%;
	}
	#tab7 {
		width: 21%;
	}
}

.pane {
	display: none;
	padding-bottom: 60px;
}

.active-pane {
	display: block;
}


.syllabus-form {
	h5 {
		font-size: 15px;
		color: $grey;
		margin-top: 10px;
	}

	input, input:focus, input:hover {
		box-shadow: none;
		margin: 0;
		height: 40px !important;
	}

	#customDropdown {
		background-color: #fff !important;
	}

	.form-fill {
		width: 100%;
		border: 1px solid $grey_lighter;
	}

	.form-fill a  {
		color: #a9a9a9 !important;
	}

}

.syllabus-title {
	float: left;
	position: relative;
	margin-left: -10px;

}

.syllabus-title2 {
	float: left;
	margin-bottom: 0px;
}

.syllabus-subtitle {
	margin-top: 45px;
	color: $grey_highlight;
	width: 70%;
}

.syllabus-title-input {
	border: none !important;
}

.syllabus-title:hover {
	cursor: pointer;

}

.syllabus-modified {
	float: right;
	color: $green;
	font-size: 14px;
	margin-top: 25px;
}

form.custom .custom.dropdown.open ul {
	border: 1px solid $grey_lighter;
}

.form-textarea {
	box-shadow: none !important;
	height: 120px;
}

.continue-button {
	float: right;
	padding: 15px 20px 15px 20px;
	text-transform: uppercase;
}

.previous-button {
	float: right;
	padding: 15px 20px 15px 20px;
	text-transform: uppercase;
	position: relative;
	left: -10px;
}

.previous-button:hover {
	color: #fff;
}

.button-icon {
	position: relative;
	top: 1px;
}

.lo-block {
	padding: 14px 17px 14px 17px;
	background-color: $grey_lighter;
	display: inline-block;
	font-size: 12px;
}

.lo-form {
	display: inline-block;
	box-shadow: none !important;
	height: 80px;
}

.form-button {
	padding: 10px 13px 10px 13px;
	text-transform: uppercase;	
	position: relative;
	top: 5px;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 10px;
}

form.custom .custom.checkbox.checked:before {
	color: $green;
	font-size: 22px;
	margin-top: 2px;
}

.lo-co-cb {
	margin-right: 25px;
	display: inline-block;
	margin-bottom: 15px;
}

.lp-textarea {
	min-height: 40px !important;
	width: 100% !important;
}

.error-message {
	//background-color: $error_bg;
	//border: 1px solid $error_border;
	//padding: 7px;
	color: $error_text;
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 18px;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 10px;
	border-left: 3px solid $error_border;
}

.error-tab {
	background-color: $error_red !important;
	color: #fff;
}

.tab-active-error {
	color: $error_text;
	background-color: #fff !important;
}

.error-input {
	border: 2px solid $error_red !important;
}

form.custom .custom {
	border: 1px solid $grey_lighter;
}

.error-row {
	border-left: 3px solid $error_border;
	padding-top: 10px;
}